---
swagger: "2.0"
info:
  version: "1.0.0-SNAPSHOT"
  title: "Startup Service"
host: "startup.com"
basePath: "/v1"
tags:
- name: "Game"
- name: "Player"
schemes:
- "https"
paths:
  /game:
    post:
      tags:
      - "Game"
      summary: "Creates a new game"
      description: ""
      operationId: "createGame"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Game created successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /player/{gameGuid}:
    post:
      tags:
      - "Player"
      summary: "Creates a new player that joins a game"
      description: ""
      operationId: "joinGame"
      produces:
      - "application/json"
      parameters:
      - name: "gameGuid"
        in: "path"
        required: true
        type: "string"
      - name: "playerName"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "New player joined game successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
definitions:
  GenericResponseDto:
    type: "object"
    properties:
      success:
        type: "boolean"
      identifier:
        type: "string"
      message:
        type: "string"
