---
swagger: "2.0"
info:
  version: "1.0.0-SNAPSHOT"
  title: "Startup Service"
host: "startup.com"
basePath: "/v1"
tags:
- name: "Game"
- name: "Hand"
- name: "Player"
schemes:
- "https"
paths:
  /games:
    post:
      tags:
      - "Game"
      summary: "Creates a new game"
      description: ""
      operationId: "createGame"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Game created successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /games/types:
    get:
      tags:
      - "Game"
      summary: "Returns the list of different game types"
      description: ""
      operationId: "getGameTypes"
      produces:
      - "application/json"
      parameters: []
      responses:
        200:
          description: "Game types returned successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /games/{code}/status:
    get:
      tags:
      - "Game"
      summary: "Returns the status of the given game"
      description: ""
      operationId: "getStatus"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Game status returned successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /games/{gameGuid}:
    put:
      tags:
      - "Game"
      summary: "Starts a game"
      description: ""
      operationId: "startGame"
      produces:
      - "application/json"
      parameters:
      - name: "gameGuid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Game started successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /hands:
    post:
      tags:
      - "Hand"
      summary: "Creates a new hand for a game"
      description: ""
      operationId: "createHand"
      produces:
      - "application/json"
      parameters:
      - name: "gameGuid"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "New hand created successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /hands/{handGuid}/flop:
    post:
      tags:
      - "Hand"
      summary: "Creates the flop for a hand"
      description: ""
      operationId: "createFlop"
      produces:
      - "application/json"
      parameters:
      - name: "handGuid"
        in: "path"
        required: true
        type: "string"
      responses:
        200:
          description: "Flop created successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /players/start:
    post:
      tags:
      - "Player"
      summary: "Makes a move"
      description: ""
      operationId: "sow"
      produces:
      - "application/json"
      parameters:
      - name: "playerId"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "Made the move successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
  /players/{code}:
    post:
      tags:
      - "Player"
      summary: "Creates a new player that joins a game"
      description: ""
      operationId: "joinGame"
      produces:
      - "application/json"
      parameters:
      - name: "code"
        in: "path"
        required: true
        type: "string"
      - name: "name"
        in: "query"
        required: true
        type: "string"
      responses:
        200:
          description: "New player joined game successfully"
          schema:
            $ref: "#/definitions/GenericResponseDto"
        400:
          description: "The request was invalid."
        500:
          description: "An internal server error occurred."
definitions:
  GenericResponseDto:
    type: "object"
    properties:
      success:
        type: "boolean"
      entity:
        type: "object"
      message:
        type: "string"
